// Specific CSS for your home-page

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

//---------html-------------



html {
}

//------------------------

.container-booking {
  padding: 20px;
    h3 {
      padding-top: 12px;
    }
  }

// animated droid  ************************


h1 {

  margin: 10px;
  width: 120vmin;
  display: flex;
  justify-content: center;
  opacity: 50%;
  animation: 11s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  margin-left: 408px;
  margin-top: 319px;

}

@keyframes fadeIn {
  100% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

h1:before {
  content: "";
  display: block;
  z-index: -1;
  top: -6vmin;
  left: 50vmin;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 20%;
}

em {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 8vmin;
  position: relative;
  font-style: normal;
  width: 10vmin;
  text-align: center;
  opacity: 20%;
}

em.planet {
  -webkit-animation: planet-rotate 3s linear infinite;
  animation: planet-rotate 3s linear infinite;
  position: relative;
}

em.planet::before {
  content: "";
  top: -.5vmin;
  left: 3.5vmin;
  z-index: -1;
  width: 13vmin;
  height: 13vmin;
  border-radius: 50%;
}

em.planet.left {
  -webkit-transform-origin: 40vmin 1vmin;
  transform-origin: 10vmin 4vmin;
  color: #5d00ff;
  opacity: 90%;
}

em.planet.right {
  -webkit-transform-origin: -20vmin 5vmin;
  transform-origin: -.6vmin 4vmin;
   color: #5d00ff;
   opacity: 90%;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}


// bouton enter site *****************************


.button {
  display: inline-block;
  border-radius: 50px;
  background-color: rgba(93, 0, 255, 0);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin: 10px;
  height: 100%;
  width: 30%;
  margin-top: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width: 350px;
  margin-left: 100px;
}
.button span a {
  color: white;

}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

// show list css *********************


div.showlist {


  margin: 10px;
  height: 80%;
  width: 30%;
  color: white;
  display: flex;
  font-size: 300%;
  text-align: center;
}

div.showlist li {
  border: 1px solid white;
  border-radius: 25%;
  display: flex inline-block;
}

// index droid *****************

div.indexdroid {

  margin: 10px;
  height: 80%;
  width: 30%;
  color: white;
  display: flex;
  font-size: 300%;
  text-align: center;
}

div.indexdroid li {
  border: 1px solid white;
  border-radius: 25%;
  display: flex inline-block;
}

// container fixed  ************************

.container-home {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

//container background image ***********************


.container-background {
  background-image: url("https://i.pinimg.com/originals/d8/f9/a2/d8f9a275501853fbe521dc3880d17e6e.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

}

.container-booking-index {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/001/515/451/large/david-levy-tr2n-vyle-vehicle-view-a-14-copy-copy.jpg?1447798623");
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;

}

.booking-info {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    padding: 122px;
    margin-left: 48px;
    color: white;
}

.booking-info-2 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    padding: 122px;
    margin-left: 48px;
    color: white;
}

.background-booking {
    border: 1px solid white;
    border-radius: 5% / 25%;
    background-color: rgba(175, 175, 175, .2);
    margin-bottom: 34px;
    padding: 10px;

}

.background-booking ul {
    margin-left: -35px;
}

.item-box {
  display: flex;
}

.item {
  color: white;
  margin-top: 150px;
  text-align: center;
}
.item2 {
  color: white;
  margin-top: 150px;
  text-align: center;
}

.item-border {
    border: 1px solid white;
    border-radius: 10% 1% -9%;
    border-radius: 3% / 20%;
    box-shadow: 0px 0px 14px 0px white;
    margin-bottom: 20px;
}

.item ul h2 {
      color: #a1a4fc;
}

.item2 ul {
    border: 1px solid white;
    border-radius: 2% / 5%;
    background-color: rgba(198, 198, 198, 0.3);
}
