<div class="container-booking-index">
  <div class="booking-date">
    <div class="booking-info">
    <h2><%= current_user.name.capitalize %>'s bookings</h2>
        <ul><% @bookings.each do |booking| %>
          <div class="background-booking">
            <h2><%= booking.droid.name %></h2>
            <p>session start at:<%= booking.start_date %>     --      session finish at:<%= booking.end_date %></p>
          </div>
        <% end %>
        </ul>
    </div>
  </div>
</div>
