<div class="showlist">
  <ul>
    name <li><%= @droid.name %> </li>
    adress <li><%= @droid.address %> </li>
    decritpion <li><%= @droid.description %> </li>
    price <li><%= @droid.price %> </li>
  </ul>
</div>
