
        <div class="animated">
          <h1>
            <em>D</em>
            <em>R</em>
            <em class="planet left">O</em>
            <em class="planet right">I</em>
            <em>D</em>
            <em>S</em>
          </h1>
        </div>
        <p class="line-1 anim-typewriter"> welcome to our new world, robot are the futur.</p>
         <button class="button" style="vertical-align:middle"><span> follow the white rabbit </span></button>


