
  <nav class="nav">
    <div class="container">
      <div class="logo">
        <img src="https://recette.allopsm.fr/wp-content/uploads/2018/07/Android-logo-png.png" alt="">
      </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
              <li><a id="box1" href="http://localhost:3000/droids">Droids</a></li>
              <li><a id="box2" href="#">Booking</a></li>
              <li><a id="box3" href="#">Sign up</a></li>
              <li><a id="box4" href="#">Log in</a></li>
          </ul>
        </div>
        <div class="animated">
          <h1>
            <em>D</em>
            <em>R</em>
            <em class="planet left">O</em>
            <em class="planet right">I</em>
            <em>D</em>
            <em>S</em>
          </h1>
        </div>
        <p class="line-1 anim-typewriter"> welcome to our new world, robot are the futur.</p>
         <button class="button" style="vertical-align:middle"><span> follow the white rabbit </span></button>


