<%= render 'shared/navbar' %>
<div class="container-background">
  <div class="container-home">
    <div class="animated">
      <h1>
        <em>D</em>
        <em>R</em>
        <em class="planet left">O</em>
        <em class="planet right">I</em>
        <em>D</em>
        <em>S</em>
      </h1>
    </div>
    <button class="button"><span><%= link_to 'Follow the white rabbit', droids_path %></span></button>
  </div>
</div>
