.container-index-droid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  padding: 122px;
  margin-left: 48px;
}
.container-all-droids {
 background-image: url("https://images8.alphacoders.com/103/1036154.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
.btn-first {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1px solid #5d00ff;
  border-radius: 0.6em;
  color: #5d00ff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 0.2em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
   transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #5d00ff inset;
  }
}

.flip-card {
  background-color: transparent;
  width: 314px;
  height: 430px;
  perspective: 1000px;
  margin-top: 100px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  box-shadow: 1px 1px 47px -10px #5d00ff;
}

/* Style the back side */
.flip-card-back {
  background-image: url("https://res.cloudinary.com/dhtd0cg7t/image/upload/v1613139628/metal_xnqh3s.jpg");
  background-size: cover;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 1px 1px 13px 2px #b4a0d8;
}
#droid-name {
  font-family: $headers-font;
  font-size: 36px;
  padding-top: 16px;
  color: #05ADF7;
}
p.description {
  font-family: $body-font;
  font-size: 20px;
  margin: auto;
  padding: 12px 0 12px 0;
}
h2.category {
  font-size: 22px;
  font-family: $body-font;
  padding: 16px 0 6px 0;
}
#category-list {
  padding-right: 34px;
}
.card-trip-pricing {
  font-family: $body-font;
  padding-top: 24px;
  color: #f9f871;
  }
.flip-card-back button {
    margin-top: 60px;
    margin-left: 57px;
    font-size: 21px;
}
.btn-first a:hover {
  color: white;
}
