.container-sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://image.winudf.com/v2/image1/Y29tLmFwcDNkd2FsbHBhcGVyaGQucm9ib3R3YWxscGFwZXJfc2NyZWVuXzVfMTU2NzAxNDYxMl8wODE/screen-5.jpg?fakeurl=1&type=.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.image-sign-in {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.box-form-position-sign-in {
    margin-top: 80px;
    margin-left: 900px;
}

.form-control {
  width: 400px;
  height: 030px;
}

.email {
  font-size: 22px;
  color: white;
}

.password {
  font-size: 22px;
  color: white;
}

.form-text {
  margin-left: 111px;
  opacity: 50%;
  color: white;
}

.form-actions {
  color: white;
}

.a {
  color: white;
  text-decoration: none;
  background-color: blue;
  margin-left: 614px;
  font-size: 20px;
  border: 1px solid blue;
  border-radius: 15%;
}

.btn {
  font-size: 22px;
  color: white;
  border: 1px solid blue;
}
.btn:hover {
  color: white;
  border: 1px solid blue;
  border-radius: 25%;
  background-color: rgba(66, 66, 255, 0.8);
}

.btn-log-in {
  font-size: 22px;
  margin-left: -400px;
  color: white;
  margin-top: 49px;
}

div.image-sign-in img {
  width: 200px;
  height: 240px;
  margin-bottom: -41px;
  margin-left: 110px;
}

.form-control {
  color: black;
}

// -----Booking form------

label[for=booking_end_date], [for=booking_start_date] {
  color: white;
  font-family: 'Roboto', sans-serif;
}
.form-actions.booking {
  margin-left: 616px;
  margin-top: 27px;
  color: white;
  margin-left: 680px;
}
.nav.nav_booking {
  background-color: transparent !important;
}
#droid-title-form {
  color: #B18762;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 16px;
  font-weight: bolder;
}

.form-group label.string {
    color: white;
    font-size: 22px;
}
#date-expired {
  color: red;
}

//-----------log in form ----------

.container-log-in-all {
  background-image: url("https://i.pinimg.com/originals/32/a5/6b/32a56b49ea31183b73393b85db37c81e.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;

}

.form-check-label {
  color: white;
}

.box-form-position-booking {
    margin-top: 100px;
    margin-right: 500px;
}

.form-border {
    padding: 25px;
    border: 1px solid white;
    border-radius: 14% / 14%;
    background-color: rgba(175, 175, 175, .5)


}

.container-form-new-droids {
  background-image: url("https://wallpaperaccess.com/full/1581951.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
